@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to left, #0b3d5f, #3e5267);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
div.container {
    min-height: 400px;
    min-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 8px;
    background-color: #adc8df;
    padding: 30px 40px;
    color: #545B5A;
}
form {
    padding: 1rem 1.5rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input {
    border: none;
    min-width: 300px;
    font-size: 1rem;
}
input:focus {
    outline: none;
}
i.fas {
    font-size: 18px;
}
.weather {
    text-align: center;
    font-size: 2rem;
    display: grid;
    place-items: center;
}
.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 680px) {
    div.container {
        min-width: 300px;
        padding: 20px 30px;
    }
}
@media screen and (max-width: 480px) {
    div.container {
        min-width: 200px;
        padding: 20px 20px;
    }
    form {
        width: 100%;
    }
    input {
        min-width: 150px;
    }
    .weather {
        font-size: 1.5rem;
    }
    i.fas {
        font-size: 16px;
    }
}
@media screen and (max-width: 360px) {
    div.container {
        max-width: 280px;
        padding: 20px 15px;
    }
    form {
        width: 100%;
        padding: .5rem 1rem;
    }
    input {
        min-width: 100px;
    }
    .weather {
        font-size: 1rem;
    }
    i.fas {
        font-size: 12px;
    }
}